# Windows Build Configuration
node-linker=isolated
sqlite3_binary_site=https://foxgis.oss-cn-shanghai.aliyuncs.com/
sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/sqlite3/
msbuild_toolset=14.0

# Build optimizations
prefer-offline=true
